{% extends "base.html" %}
{% load humanize %}
{% block content %}
{% include "navbar-simple.html" %}
{% include "sidebar.html" %}
<div id="layoutSidenav_content">
<main>
    <div class="container-fluid">

         <!-- 网站功能summary -->
        <h1 class="mt-4">Browse</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"> Browse help manual </li>
        </ol>

        <!-- dataTable 区域 -->
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable: Studies </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Dataset</th>
                                <th>Species</th>
                                <th>Tumor site</th>
                                <!-- <th>Source</th>  -->
                                <th>Donor</th>
                                <th>Sample</th>
                                <th>Cells</th>
                                <th>Malignant</th>
                                <th>Cell sorting</th>
                                <th>Treatment</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Dataset</th>
                                <th>Species</th>
                                <th>Tumor site</th>
                                <!-- <th>Source</th> -->
                                <th>Donor</th>
                                <th>Sample</th>
                                <th>Cells</th>
                                <th>Malignant</th>
                                <th>Cell sorting</th>
                                <th>Treatment</th>
                                <th>Operation</th>
                            </tr>
                        </tfoot>
                        <tbody>
                           {% for study in studies %}
                            <tr>
                                <td>{{ study.index }}</td>
                                <td>{{ study.species }}</td>
                                <td>{{ study.tumor_site }}</td>
                                <!-- <td>{{ study.biosample_source }}</td> -->
                                <td>{{ study.ndonor }}</td>
                                <td>{{ study.nsample }}</td>
                                <td>{{ study.ncell }}</td>
                                <td>{{ study.nmalignant }}</td>
                                <td>{{ study.cell_sorting }}</td>
                                <td>{{ study.treatment }}</td>
                                <td><a class="nav-link" href="{% url 'browse_results' %}">Check</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../static/js/scripts.js"></script>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="static/assets/demo/chart-area-demo.js"></script>
<script src="static/assets/demo/chart-bar-demo.js"></script>
// -->

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<!--<script src="../static/assets/demo/datatables-demo.js"></script>-->
<script type="text/javascript">
       $(document).ready(function() {
          $('#dataTable').dataTable({
            "pagingType": "full_numbers",
            // 在dataTable内某一列添加自定义按钮
            "columnDefs":[
                {
                // targets用于指定操作的列，从第0列开始，-1为最后一列
                // returns后是我们希望在指定列填入的按钮代码
                   "targets":-1,
                   "render": function(data, type, full, meta){
                        return  "<input type = 'button' id = 'checkBrowseResButton' value = 'Check'>"
                   }
                }
            ]
      });

      $('#dataTable tbody').on('click','#checkBrowseResButton', function(){
              // 获取行
             var row = $("#dataTable tr").index($(this).closest("tr"));
             // 获取某列（从0列开始计数）的值
             var index = $("#dataTable").find("tr").eq(row).find('td').eq(0).text();

            // alert("You chose " + index);
            // var currentURL = window.location.href;

            window.location.href = '/browse_results?value=' + encodeURIComponent(index);
            // window.location.href = "/browse_results";
      });
    });
</script>
{% endblock %}