{% extends "base.html" %}
{% load humanize %}
{% block content %}
{% include "navbar-simple.html" %}
{% include "sidebar.html" %}
<div id="layoutSidenav_content">

    <!-- region: motivation and purpose -->
    <h3 class="mt-4"> Motivation and Purpose </h3>
    <div class="card mb-4">
        <div class="card-body">
        <main>
            <!-- 可折叠panel组 -->
            <div class="panel-group" id="accordion">
                <!-- 可折叠区域 motivation -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                            href="#collapse-motivation">
                            Why are we developing TumiX? ->>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-motivation" class="panel-collapse collapse">
                        <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo.
                        </div>
                    </div>
                </div>

                <!-- 可折叠区域  our goals-->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapse-goals">
                                Our goals... ->>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-goals" class="panel-collapse collapse">
                        <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo.
                        </div>
                    </div>
                </div>
            </div>
        </main>
        </div>
    </div>

    <!-- region 2  -->
    <h3 class="mt-4"> Quick Start </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 motivation -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-motivation">
                                Why are we developing TumiX? ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  our goals-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-goals">
                                    Our goals... ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-goals" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

        <!-- region 3  -->
    <h3 class="mt-4"> Utilities </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 motivation -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-motivation">
                                Why are we developing TumiX? ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  our goals-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-goals">
                                    Our goals... ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-goals" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

            <!-- region 4  -->
    <h3 class="mt-4"> Dataset Collection, Processing and Analyses </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 motivation -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-motivation">
                                Why are we developing TumiX? ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  our goals-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-goals">
                                    Our goals... ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-goals" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

                <!-- region 5  -->
    <h3 class="mt-4"> Alphabet and Abbreviations </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 motivation -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-motivation">
                                Why are we developing TumiX? ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  our goals-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-goals">
                                    Our goals... ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-goals" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

                    <!-- region 6  -->
    <h3 class="mt-4"> Dataset Statistics </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 motivation -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-motivation">
                                Why are we developing TumiX? ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  our goals-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-goals">
                                    Our goals... ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-goals" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

                        <!-- region 7  -->
    <h3 class="mt-4"> Contact US </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 motivation -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-motivation">
                                Why are we developing TumiX? ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  our goals-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-goals">
                                    Our goals... ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-goals" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

                            <!-- region 8  -->
    <h3 class="mt-4"> Citation </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 motivation -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-motivation">
                                Why are we developing TumiX? ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  our goals-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-goals">
                                    Our goals... ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-goals" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    {% include "footer.html" %}
</div>

<script>
    $(function () { $('#collapse-2').collapse('show')});
    $(function () { $('#collapseThree').collapse('toggle')});
    $(function () { $('#collapse-1').collapse('hide')});
</script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../static/js/scripts.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<!-- for #dataTable -->
<script type="text/javascript">
       $(document).ready(function() {
          $('#sampleTable').dataTable();
    });
</script>

{% endblock %}