{% extends "base.html" %}
{% load humanize %}
{% block content %}
{% include "navbar-simple.html" %}
{% include "sidebar.html" %}
<div id="layoutSidenav_content">

    <!-- region: motivation and purpose -->
    <h3 class="mt-4"> Motivation and Purpose </h3>
    <div class="card mb-4">
        <div class="card-body">
        <main>
            <!-- 可折叠panel组 -->
            <div class="panel-group" id="motivation_and_purpose">
                <!-- 可折叠区域 motivation -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#motivation_and_purpose"
                            href="#collapse-motivation">
                            Why are we developing TumiX? ->>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-motivation" class="panel-collapse collapse">
                        <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo.
                        </div>
                    </div>
                </div>

                <!-- 可折叠区域  -->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#motivation_and_purpose"
                               href="#collapse-goals">
                                Our goals... ->>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-goals" class="panel-collapse collapse">
                        <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo.
                        </div>
                    </div>
                </div>
            </div>
        </main>
        </div>
    </div>

    <!-- region 2 Quick start.  -->
    <h3 class="mt-4"> Quick Start </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="quick_start">
                    <!-- 可折叠区域 quick start - homepage -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#quick_start"
                                href="#collapse-homepage">
                                Homepage ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-homepage" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  quickstart-browse. -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#quick_start"
                                   href="#collapse-browse">
                                    Browse ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-browse" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  quickstart-search. -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#quick_start"
                                   href="#collapse-search">
                                    Search ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-search" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  quickstart-analyze. -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#quick_start"
                                   href="#collapse-quickstart-analyze">
                                    Analyze ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-quickstart-analyze" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>

        <!-- region 3 Utility. -->
    <h3 class="mt-4"> Utilities </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 utility-brow -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-utility-browse">
                                Browse single cell landscape of individual dataset. ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-utility-browse" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  utitlity - 2. -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-utility-compare-gene-expr">
                                    Compare gene expression between datasets. ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-utility-compare-gene-expr" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  utility - 3. -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-utility-compare-ccc">
                                    Compare cell-cell communication between datasets. ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-utility-compare-ccc" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>

            <!-- region 4, Data processing.  -->
    <h3 class="mt-4"> Dataset Collection, Processing and Analyses </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 methods on data collection -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-data-collect">
                                Methods on data collecting ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-data-collect" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  methods on data processing. -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-data-processing">
                                    Methods on data processing ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-data-processing" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

                <!-- region 5, alphabet.  -->
    <h3 class="mt-4"> Alphabet and Abbreviations </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 alpha-tumors -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-alpha-tumors">
                                Tumors ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  alpha-celltype. -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-alpha-celltype">
                                    Cell types ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-alpha-celltype" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

                    <!-- region 6, statistics.  -->
    <h3 class="mt-4"> Dataset Statistics </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 motivation -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-motivation">
                                Why are we developing TumiX? ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-motivation" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  our goals-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-goals">
                                    Our goals... ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-goals" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

                        <!-- region 7, contact us.  -->
    <h3 class="mt-4"> Contact and Citation </h3>
    <div class="card mb-4">
        <div class="card-body">
            <main>
                <!-- 可折叠panel组 -->
                <div class="panel-group" id="accordion">
                    <!-- 可折叠区域 contact -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-contact">
                                Contact Us ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-contact" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

                    <!-- 可折叠区域  citation -->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse-cite">
                                    How to cite ->>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-cite" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    {% include "footer.html" %}
</div>

<script>
    $(function () { $('#collapse-browse').collapse('show')});
    $(function () { $('#collapse-browse').collapse('toggle')});
    $(function () { $('#collapse-browse').collapse('hide')});
</script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../static/js/scripts.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<!-- for #dataTable -->
<script type="text/javascript">
       $(document).ready(function() {
          $('#sampleTable').dataTable();
    });
</script>

{% endblock %}