{% extends "base.html" %}
{% load humanize %}
{% block content %}
{% include "navbar-simple.html" %}
{% include "sidebar.html" %}
<div id="layoutSidenav_content">
<main>

    <form method="post" action="{% url 'process_search_forms' %}">
    {% csrf_token %}
    {{ CelltypeGeneMarkerForm.as_table }}
    <button type="submit">提交表单1</button>
  </form>

  {% if results1 %}
    <h2>结果1</h2>
    <ul>
      {% for result in results1 %}
        <li>{{ result.field1 }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" action="{% url 'process_search_forms' %}">
    {% csrf_token %}
    {{ CellsubclusterGeneMarkerForm.as_table }}
    <button type="submit">提交表单2</button>
  </form>

  {% if results2 %}
    <h2>结果2</h2>
    <ul>
      {% for result in results2 %}
        <li>{{ result.field2 }}</li>
      {% endfor %}
    </ul>
  {% endif %}

</main>
{% include "footer.html" %}
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../static/js/scripts.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="../static/assets/demo/datatables-demo.js"></script>
{% endblock %}